<!DOCTYPE html>
<html>

<body>
    <app-navbar></app-navbar>

    <div id="todo">
        <div id="fotoDatos">
            <img id="foto" src="{{fotoLugar}}" alt="">
            <div id="datos">
                <h2 class="textoDatos">{{nombre}}</h2>
                <h3 class="textoDatos">Fecha del evento: {{fecha}}</h3>
                <h4 class="textoDatos">{{nombreLugar}}</h4>
                <h4 class="textoDatos">Direccion: {{direccion}}</h4>
            </div>
        </div>
        <div id="tags">
            <h5 id="tag" *ngFor="let tag of tags; let i = index" [attr.data-index]="i">{{tag}}</h5>
        </div>
        <p id="descripcion">{{descripcion}}</p>
        <div id="cierreAportar">
            <p id="cierre">Cierre aporte: {{fechaConvocatoria}}</p>
            <div style="display: flex; padding-right: 10px;">
                <p *ngIf="click" id="errorLogin">Inicie sesion</p>
                <button *ngIf="login" id="aportar">Aportar</button>
                <button (click)="click = true" *ngIf="!login" id="noAportar">Aportar</button>
            </div>
        </div>
    </div>
</body>

</html>