<!DOCTYPE html>
<html>
<app-navbar></app-navbar>

<body>
    <p>nombre: {{eventoLocal.nombre}}</p>
    <p>fecha: {{eventoLocal.fecha}}</p>
    <p>fecha cierre: {{eventoLocal.fechaCierreConvocatoria}}</p>
    <p>lugar desarrollo:</p>
    <b>subdivision: {{eventoLocal.lugarDesarrollo.direccion}}</b><br>
    <b>foto: {{eventoLocal.lugarDesarrollo.foto}}</b><br>
    <b>nombre lugar: {{eventoLocal.lugarDesarrollo.nombre}}</b><br>
    <p>tags: {{eventoLocal.tags}}</p>
    <p>usuarios: {{eventoLocal.usuarios}}</p>
</body>

</html>